/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: black;
  transition: all 0.3s ease;
  height: 125px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 75px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
#header-text{
  font-size: 60px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  margin-bottom: 25px;
}
#header-text-black{
  font-size: 40px;
  font-family: 'Permanent Marker', cursive;
  color: black;
  margin-bottom: 25px;
}
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    flex: 0 0 30%;
}

.card-image {
    height: 300px;
    background-size: cover;
    position: relative;
}

.card-image-hover {
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.card-image-hover:hover {
    opacity: 0.9;
}

.card-body {
    background-color: white;
    padding: 20px 20px 0 20px;
    box-shadow: 1px 1px 3px rgba(220, 220, 200, 1);
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
    padding: 10px 0;
}

.card-footer li {
    padding-left: 10px;
}

.card-author {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.card-author p {
    margin: 0px 10px;
    font-weight: bold;
}

.card-avatar {
    border-radius: 50%;
}

/*FOR KEMAL*/
.card:hover .author>p {
    color: red;
}

.container {
  padding-top: 50px;
}
.form-group {
color: black;
}
